{% extends "base.html" %}

{% block content %}
    <h1>{{ course.title  }}</h1>
    <p>{{ course.description }}</p>

    <h2>Assignments></h2>
    {% if current_user.role == "instructor" and course.instructor_id == current_user.id %}
        <a href="{{ url_for('main.new_assignment', course_id=course.id) }}">
            Add Assignment
        </a>

        <form method="POST"
            action="{{ url_for('main.delete_course', course_id=course.id) }}"
            style="display:inline;">
            <button type="submit" onclick="return confirm('Delete course?');">
                Delete Course
            </button>
        </form>
    {% endif %}
    <ul>
        {% for assignment in assignments %}
            <li>{{ assignment.title }}
                {% if current_user.role == "instructor" and course.instructor_id == current_user.id %}
                    <form method="POST"
                        action="{{ url_for('main.delete_assignment', assignment_id=assignment.id) }}"
                        style="display:inline;">
                        <button type="submit" onclick="return confirm('Delete this assignment?');">
                            Delete Assignment
                        </button>
                    </form>
                {% endif %}
            </li>
        {% else %}
            <li>No assignments yet.</li>
        {% endfor %}
    </ul>
{% endblock %}